*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: #36ae5661;
    box-shadow:#36ae5661 2px 0 10px;
}
.navigacia ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.navigacia ul li{
    padding: 24px;
}
.navigacia ul a{
    padding: 5px 10px;
    color: #000000;
}
header ul li a:hover{
    background-color: #6ea3628a;
    box-shadow: #1b3e12aa 2px 2px 8px;
    color: #ffffff;
} 
.index .navigacia ul li:nth-child(1) a {
    background-color: #6ea3628a;
    box-shadow: #1b3e12aa 2px 2px 8px;
    color: #ffffff;
}
.gallery .navigacia ul li:nth-child(2) a {
    background-color: #6ea3628a;
    box-shadow: #1b3e12aa 2px 2px 8px;
    color: #ffffff;
}
.about .navigacia ul li:nth-child(3) a {
    background-color: #6ea3628a;
    box-shadow: #1b3e12aa 2px 2px 8px;
    color: #ffffff;
}
.contact .navigacia ul li:nth-child(4) a {
    background-color: #6ea3628a;
    box-shadow: #1b3e12aa 2px 2px 8px;
    color: #ffffff;
}
.natura{
    width: 600px;
    height: 370px;
    margin: 60px auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row-reverse;
    position: relative;
}
.on-off{
    width: 120px;
    height: 60px;
    padding: 12px;
    background-color:#fffb00db;
    border: #e1b216c7 solid ;
    font-size: 36px;
    font-weight: 26px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
}
.on-off:hover{
    background-color:#ffffff;
}
.bulb{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 40px;
}
.bulb img{
    width: 100%;
}